{% extends "base.html" %}

{% block content %}

<p>My lovely book <br>
Running through the field <br>
Where are you going with your pages blowing in the wind.<hr>

I want to shower in exposition dumps<br>
And read you over fences<br>
Polish your bridge every single day<br>
And take you to the book dentist<hr>

My lovely, lovely, lovely book (my lovely book)<br>
You're a booklet no more<hr>

Running around<br>
With a blurb on your back<br>
Austen, Jane or Will Wight<br>
Austen, Jane or Will Wight<br>
(sax solo)

</p>



{% endblock %}